@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto:300,400,700');

/*font-family: 'Roboto', sans-serif;
font-family: 'PT Sans', sans-serif;*/

body {
    color: slategray;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .profile, .profile-nav, .company-title, .company-desc, .company-loc {
    color: deepskyblue;
}

strong {
    font-weight: 400;
}

.spacer, .banner, footer {
    width: 100%;
}

.container, .company, .mission, .skills table {
    margin: auto;
}

.profile {
    border-right: 2px solid deepskyblue;
}

.spacer {
    height: 30px;
}

.header {
    display: none;
}

.container {
    width: 1280px;
    display: flex;
}

.profile {
    width: 20%;
    min-width: 350px;
    height: 100vh;
    margin-top: -20px;
    margin-left: -15px;
    padding-top: 5px;
    padding-left: 20px;
}

li {
    list-style: none;
}

.thumbnail {
    max-width: 65%;
    margin-top: 8%;
    margin-left: 8%;
    border: 5px solid deepskyblue;
    border-radius: 50%;
}

h1 {
    font-size: 2em;
}

.profile-nav h1, .banner h1 {
    margin-bottom: -10px;
}

.infos, .skills {
    font-family: 'PT Sans', sans-serif;
}

.main {
    width: 80%;
    padding: 5%;
    flex-direction: column;
}

.tile {
    padding-bottom: 50px;
}

.block {
    padding-top: 20px;
    border-bottom: 2px solid deepskyblue;
}

.banner {
    padding-left: 5%;
    height: 200px;
}
.banner h1 {
    font-size: 2.5em;
}

.company, .mission {
    width: 90%;
}

.company-loc, .company-desc {
    margin-top: -10px;
    line-height: 0.5em;
}

.mission-title {
    margin-bottom: 10px;
    margin-top: 0px;
}

footer {
    text-align: center;
}
